Repository akash-network/chain-sdk, pull requests merged in 2025-09, with the labels that each got.

#55 docs: api migration guide
  docs/api-proto-migration-guide.md
Labels: Typ: Docs

#60 feat: implement lease close reason and bid sequence
  go/node/escrow/types/v1/deposit.pb.go
  go/node/market/v1/bid.go
  go/node/market/v1/bid.pb.go
  go/node/market/v1/errors.go
  go/node/market/v1/filters.pb.go
  go/node/market/v1/lease.pb.go
  go/node/market/v1/types.go
  go/node/market/v1/types.pb.go
  go/node/market/v1/types_test.go
  go/node/market/v1beta5/bid.go
  go/node/market/v1beta5/bidmsg.pb.go
  go/node/market/v1beta5/filters.go
  go/node/market/v1beta5/filters.pb.go
  go/node/market/v1beta5/leasemsg.pb.go
  go/node/market/v1beta5/msgs.go
  go/node/migrate/market.go
  proto/node/akash/escrow/types/v1/deposit.proto
  proto/node/akash/market/v1/bid.proto
  proto/node/akash/market/v1/filters.proto
  proto/node/akash/market/v1/lease.proto
  proto/node/akash/market/v1/types.proto
  proto/node/akash/market/v1beta5/bidmsg.proto
  proto/node/akash/market/v1beta5/filters.proto
  proto/node/akash/market/v1beta5/leasemsg.proto
Labels: C:go/node

#62 chore(proto): add reason to EventLeaseClosed
  go/node/market/v1/event.pb.go
  proto/node/akash/market/v1/event.proto
Labels: C:go/node

#77 refactor(go/node/client): remove unused code
  go/node/client/types/options.go
Labels: C:go/node

#80 fix(ts): splits index files by proto target
  ts/package.json
  ts/script/protoc-gen-type-index-files.ts
  ts/src/generated/protos/index.akash.v1.ts
  ts/src/generated/protos/index.akash.v1beta4.ts
  ts/src/generated/protos/index.akash.v1beta5.ts
  ts/src/generated/protos/index.cosmos.v1.ts
  ts/src/generated/protos/index.cosmos.v1beta1.ts
  ts/src/generated/protos/provider.index.akash.v1.ts
  ts/src/generated/protos/provider.index.akash.v2beta3.ts
Labels: C:ts

#81 refactor(proto): rename owner field to signer in MsgAccountDeposit
  docs/proto/node.md
  docs/swagger-ui/swagger.yaml
  go/cli/escrow_tx.go
  go/node/escrow/v1/authz_test.go
  go/node/escrow/v1/msg.pb.go
  go/node/escrow/v1/msgs.go
  proto/node/akash/escrow/v1/msg.proto
  ts/src/generated/protos/akash/escrow/v1/msg.ts
Labels: C:go/node, Typ: Docs, C:ts, C:go/cli

#82 chore(go): bump chain-sdk version for cli and sdl
  go/cli/go.mod
  go/sdl/go.mod
Labels: C:go/cli, C:go/sdl

#86 fix: ensure nodejs can import exported files
  make/test.mk
  ts/esbuild.config.mjs
  ts/package-lock.json
  ts/package.json
  ts/script/validate-package-exports.ts
  ts/src/sdk/chain/server/index.ts
  ts/src/sdk/chain/web/index.ts
  ts/src/sdk/provider/server/index.ts
  ts/src/sdk/provider/web/index.ts
  ts/src/sdk/transport/TransportError.ts
Labels: Type: Build, C:ts
