Repository akash-network/chain-sdk, pull requests merged in 2025-10, with the labels that each got.

#98 chore(go/client/discovery): improve error messages
  go/node/client/discovery/client.go
Labels: C:go/node

#75 fix(go/provider/client): refactor TLS setup
  go/provider/client/client.go
Labels: C:go/provider

#103 chore(go): bump chain-sdk for cli and sdl modules
  go/cli/go.mod
  go/sdl/go.mod
Labels: C:go/cli, C:go/sdl

#104 fix(ts): removes defaultRegistryTypes from cosmjs
  ts/src/sdk/transport/tx/createStargateClient/createStargateClient.ts
Labels: C:ts

#106 chore(go): bump chain-sdk version for cli and sdl
  go/cli/go.mod
  go/sdl/go.mod
Labels: C:go/cli, C:go/sdl
